<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Algol.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AlgolWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>070658921BF22B9000582C8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07A002261BEF0EFF002E687F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07A0023D1BEF0EFF002E687F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07A002481BEF0EFF002E687F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
